<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/img/gui/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Корзина</title>
    <script>
        function showNotification(message) {
            var notification = document.querySelector('.notification');
            notification.innerHTML = message;
            notification.classList.add('show');
        }

        function hideNotification() {
            var notification = document.querySelector('.notification');
            notification.classList.remove('show');
        }

        window.onload = setTimeout(function () {
            showNotification("Чтобы удалить товар из корзины, нажмите на 🛒<br>Добавление товара в избранное отсюда не работает");
            setTimeout(function () {
                hideNotification();
            }, 10000);
        }, 100);
    </script>
</head>
<body>
<header>
    <div class="navigator">
        <a href="/" style="display: contents;"><img src="static/img/gui/logo.svg"></a>
        <button id="nav_adaptiv" class="nav_adaptiv" onclick="adaptivMenu()"><img src="static/img/gui/Catalog.svg">
        </button>
        <nav class="hide">
                <span>
                    <img src="static/img/gui/home.svg">
                    <a href="/">Главная</a>
                </span>
            <span>
                    <img src="static/img/gui/Catalog.svg">
                    <a href="catalog">Каталог</a>
                </span>
            <span>
                    <img src="static/img/gui/Search.svg">
                    <a href="/#search">Поиск</a>
                </span>
            <span>
                    <img src="static/img/gui/favourite.svg">
                    <a href="favourites">Избранное ({{ favs_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/backets.svg">
                    <a href="basket">Корзина ({{ basket_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/Profile.svg">
                    <a href="profile">Профиль</a>
                </span>
        </nav>
    </div>
</header>
<main>
    <h1>Корзина</h1>
</main>
<div class="types">
    <div class="catalog favcatalog">
        {% set vars = {'sum': 0} %}

        {% if not basket %}

            <h2>В корзине пока ничего нет. Добавьте сюда что-нибудь, нажав на 🛒</h2>

        {% else %}

            <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <script type=text/javascript>
                function removeFromFav(id) {
                    $.ajax({
                        url: '/basket/remove',
                        type: 'POST',
                        data: id,
                        contentType: 'application/json;charset=UTF-8',
                        success: function () {
                            setTimeout(function () {
                                showNotification("Предмет убран из корзины 👌");
                                setTimeout(function () {
                                    hideNotification();
                                }, 4000);
                            }, 100);
                            document.getElementById('item' + id).style.display = 'none';
                            document.getElementById("count").innerHTML -= 1;
                            document.getElementById("sum").innerHTML -= document.getElementById("price" + id).innerHTML;
                        },
                        error: function (err) {
                            setTimeout(function () {
                                showNotification("Не удалось убрать из корзины 🙈 (" + err + ")");
                                setTimeout(function () {
                                    hideNotification();
                                }, 4000);
                            }, 100);
                            console.log(err);
                        }
                    });
                };
            </script>

            <h2>
                <h id="count" style="display: inline;">{{ basket_len }}</h> товара(ов) в корзине
            </h2>
            <div class="favgallery">

            {% for item in basket %}

                {% if vars.update({'sum': vars['sum']+item.price}) %} {% endif %}
                <div class="item card" id="item{{ item.id }}">
                    <a href="product?id={{ item.id }}">
                        <img src="/static/img/items/{{ item.images.0 }}" alt="">
                    </a>
                    <div>
                        <a href="product?id={{ item.id }}">
                            <h4>{{ item.title }}</h4>
                        </a>
                        <span class="stars">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <p>4.8</p>
                    </span>
                        <span style="display: flex; flex-direction: row">
                        <div class="price">
                            <p id="price{{ item.id }}">{{ item.price }}</p>
                        </div>
                        <div class="icons">

                            <button value="{{ item.id }}" onclick="removeFromFav(this.value)">
                                <img src="static/img/gui/telega_small.svg" alt="">
                            </button>
                            <a> <!-- TODO: Добавить добавление и удаление в избранное отсюда -->
                                <img src="static/img/gui/favourite_small.svg" alt="">
                            </a>
                        </div>
                    </span>
                    </div>
                </div>

            {% endfor %}

        {% endif %}

    </div>
</div>

    {% if basket %}

        <aside class="checkout">
            <span>
                <h2>Всего: <h id="sum" style="display: inline;">{{ vars['sum'] }}</h>₽</h2>
            </span>
            <span>
                <input style="padding: 15px; width: 100%" class="textrange-field" type="text" name="promo" placeholder="Промокод">
            </span>
            <span> <!-- TODO: Отображать, только если пользователь не залогинен -->
                <input style="padding: 15px; width: 100%" class="textrange-field" type="email" name="email" placeholder="E-mail (для получения заказа)">
            </span>
            <span>
                <input type="submit" style="padding: 15px; width: 100%" class="itemcomm_submit" value="Заказать">
            </span>
        </aside>
    
    {% endif %}

</div>
<div class="notification">
    <!-- Содержимое окна будет устанавливаться динамически -->
</div>
<footer>
    <div class="annotation">
        <img src="static/img/gui/white_logo.png">
        <p>Данный сайт разработан в исключительно учебных целях и не является действующим магазином.</p>
    </div>
    <div class="nav_footer">
        <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
            <p>О проекте</p>
        </a>
        <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
            <p>Контакты</p>
        </a>
        <a href="https://github.com/BeidinaDaria/Fiction-store.git">
            <p>GitHub</p>
        </a>
    </div>
</footer>
<script>
    function adaptivMenu() {
        let navig = document.querySelector("nav");
        if (navig.className == "show")
            navig.className = 'hide';
        else navig.className = 'show';
    };
</script>
</body>
</html>