<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Basket</title>
</head>

<body>
    <header>
         <div class="navigator">
            <img src="../static/img/logo.svg">
            <button id="nav_adaptiv" class="nav_adaptiv" onclick="adaptivMenu()"><img src="../static/img/Catalog.svg"></button>
            <nav class="hide">
                <span>
                    <img src="../static/img/home.svg">
                    <a href="/">Главная</a>
                </span>
                <span>
                    <img src="../static/img/Catalog.svg">
                    <a href="catalog">Каталог</a>
                </span>
                <span>
                    <img src="../static/img/Search.svg">
                    <a href="#search">Поиск</a>
                </span>
                <span>
                    <img src="../static/img/favourite.svg">
                    <a href="favourites">Избранное (10)</a>
                </span>
                <span>
                    <img src="../static/img/backets.svg">
                    <a href="basket">Корзина (4)</a>
                </span>
                <span>
                    <img src="../static/img/Profile.svg">
                    <a href="entrance">Профиль</a>
                </span>
            </nav>
        </div>
    </header>
    <main>
        <h1>Корзина</h1>
    </main>
    <div class="types">
        <div class="catalog">
            <h2>4 товара в корзине</h2>
            <div class="item">
                <span>
                    <img src="../static/img/invention.png" height="auto" width="25%">
                    <div class="character">
                        <span>
                            <h3 style="margin:0;">TARDIS – Time And Relative Dimension In Space </h3>
                            <div class="quantity_inner" width="60%" style="display:flex;flex-direction:row;height:20%;align-items:center;">
                                <button class="bt_minus">-</button>
                                <input type="text" class="quantity" value="1" data-max-count="20">
                                <button class="bt_plus">+</button>
                            </div>
                            <div class="price">
                                <p>77 ₽</p>
                            </div>
                        </span>
                        <div class="characteristic">
                            <h4>Размер - - - - - 40см</h4>
                            <h4>Век - - - - - - - -XX</h4>
                        </div>
                        <button style="background:none;border:none;"><img src="../static/img/delete.svg"></button>
                    </div>
                </span>
            </div>
            <div class="item">
                <span>
                    <img src="../static/img/1.jpg" height="auto" width="25%">
                    <div class="character">
                        <span>
                            <h3 style="margin:0;">Super puper time machine </h3>
                            <div class="quantity_inner" width="60%" style="display:flex;flex-direction:row;height:20%;align-items:center;">
                                <button class="bt_minus">-</button>
                                <input type="text" class="quantity" value="1" data-max-count="20">
                                <button class="bt_plus">+</button>
                            </div>
                            <div class="price">
                                <p>1000 ₽</p>
                            </div>
                        </span>
                        <div class="characteristic">
                            <h4>Размер - - - - - 402см</h4>
                            <h4>Век - - - - - - - -XXV</h4>
                        </div>
                        <button style="background:none;border:none;"><img src="../static/img/delete.svg"></button>
                    </div>
                </span>
            </div>
            <div class="item">
                <span>
                    <img src="../static/img/invention.png" height="auto" width="25%">
                    <div class="character">
                        <span>
                            <h3 style="margin:0;">TARDIS – Time And Relative Dimension In Space </h3>
                            <div class="quantity_inner" width="60%" style="display:flex;flex-direction:row;height:20%;align-items:center;">
                                <button class="bt_minus">-</button>
                                <input type="text" class="quantity" value="1" data-max-count="20">
                                <button class="bt_plus">+</button>
                            </div>
                            <div class="price">
                                <p>77 ₽</p>
                            </div>
                        </span>
                        <div class="characteristic">
                            <h4>Размер - - - - - 40см</h4>
                            <h4>Век - - - - - - - -XX</h4>
                        </div>
                        <button style="background:none;border:none;"><img src="../static/img/delete.svg"></button>
                    </div>
                </span>
            </div>
            <div class="item">
                <span>
                    <img src="../static/img/invention.png" height="auto" width="25%">
                    <div class="character">
                        <span>
                            <h3 style="margin:0;">TARDIS – Time And Relative Dimension In Space </h3>
                            <div class="quantity_inner" width="60%" style="display:flex;flex-direction:row;height:20%;align-items:center;">
                                <button class="bt_minus">-</button>
                                <input type="text" class="quantity" value="1" data-max-count="20">
                                <button class="bt_plus">+</button>
                            </div>
                            <div class="price">
                                <p>77 ₽</p>
                            </div>
                        </span>
                        <div class="characteristic">
                            <h4>Размер - - - - 40см</h4>
                            <h4>Век - - - - - - - -XX</h4>
                        </div>
                        <button style="background:none;border:none;"><img src="../static/img/delete.svg"></button>
                    </div>
                </span>
            </div>
        </div>
        <aside style="background:rgba(248, 245, 245, 1);padding:10px;display:block;position:relative;" height="500px">
            <span>
                <h2>Всего</h2>
                <h2>1231 ₽</h2>
            </span>
            <hr style="background:none;height:5px; width:100%">
            </hr>
            <span>
                <h4>Скидки</h4>
                <h4>– 100 ₽</h4>
            </span>
            <span>
                <h4>Бонусы</h4>
                <h4>– 20 ₽</h4>
            </span>
            <hr style="background:none;height:5px; width:100%">
            </hr>
            <span>
                <h4>Доставка</h4>
                <h4>90 ₽</h4>
            </span>
            <hr style="background:none;height:5px; width:100%">
            </hr>
            <span>
                <h4>Промокод</h4>
                <input type="text" method="POST" name="promo" placeholder="Промокод">
            </span>
            <button style="background:rgba(124, 103, 255, 1);border:none;border-radius:10%;padding:5px;width:90%;"><a href="#" style="color:rgba(244, 241, 255, 1);">Заказать</a></button>
        </aside>
    </div>
    <footer>
        <div class="annotation">
            <img src="../static/img/white_logo.png">
            <p>Данный сайт разработан в исключительно учебных целях и не является действующим магазином.</p>
        </div>
        <div class="nav_footer">
            <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
                <p>О проекте</p>
            </a>
            <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
                <p>Контакты</p>
            </a>
            <a href="https://github.com/BeidinaDaria/Fiction-store.git">
                <p>GitHub</p>
            </a>
        </div>
    </footer>
<script>
        function adaptivMenu(){
            let navig=document.querySelector("nav");
            if (navig.className=="show")
                navig.className='hide';
            else navig.className='show';
        };
    </script>
</body>

</html>
