<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/img/gui/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Каталог</title>
</head>
<body>
<header>
    <div class="navigator">
        <a href="/" style="display: contents;"><img src="static/img/gui/logo.svg"></a>
        <button id="nav_adaptiv" class="nav_adaptiv" onclick="adaptivMenu()"><img src="static/img/gui/Catalog.svg">
        </button>
        <nav class="hide">
                <span>
                    <img src="static/img/gui/home.svg">
                    <a href="/">Главная</a>
                </span>
            <span>
                    <img src="static/img/gui/Catalog.svg">
                    <a href="catalog">Каталог</a>
                </span>
            <span>
                    <img src="static/img/gui/Search.svg">
                    <a href="/#search">Поиск</a>
                </span>
            <span>
                    <img src="static/img/gui/favourite.svg">
                    <a href="favourites">Избранное ({{ favs_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/backets.svg">
                    <a href="basket">Корзина ({{ basket_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/Profile.svg">
                    <a href="profile">Профиль</a>
                </span>
        </nav>
    </div>
</header>
<main>
    <h1>Каталог изобретений</h1>
</main>
<span class="catalogue-circles">
        <button>
            <a href="#">Все</a>
        </button>
        <button>
            <a href="#">Машины времени</a>
        </button>
        <button>
            <a href="#">Для шпионов</a>
        </button>
        <button>
            <a href="#">Здоровье</a>
        </button>
        <button>
            <a href="#">Транспорт</a>
        </button>
        <button>
            <a href="#">еще</a>
        </button>
    </span>
<form class="catalogue-search">
    {% if search %}
    <input type="text" method="GET" name="search" placeholder="Название товара" value="{{ search }}">
    {% else %}
    <input type="text" method="GET" name="search" placeholder="Название товара">
    {% endif %}
</form>
<div class="types">
    <form class="aside" method="GET">
        <h2>Фильтры</h2>
        <h3>Цена</h3>
        <div class="container">
            <!--<div class="slider-track">
                <p>119₽ - 999₽</p>
                <input type="range" min="0" max="1500" value="30" id="slider-1" oninput="slideOne()">
                <input type="range" min="0" max="1500" value="70" id="slider-2" oninput="slideTwo()">
            </div>-->
            <div class="textrange-fields">
                <input class="textrange-field" type="text" id="minprice" placeholder="Мин.">
                <input class="textrange-field" type="text" id="maxprice" placeholder="Макс.">
            </div>

        </div>
        <h3>Научная сфера</h3>
        <div>
            <label id="physics"><input type="checkbox" name="sci" for="physics" value="physics">Физика</label>
            <label id="biology"><input type="checkbox" name="sci" for="biology" value="biology">Биология</label>
            <label id="psycho"><input type="checkbox" name="sci" for="psycho" value="psycho">Психология</label>
            <label id="magic"><input type="checkbox" name="sci" for="magic" value="magic">Магия</label>
        </div>
        <h3>Век</h3>
        <div class="wrapper">
            <div class="textrange-fields">
                <input class="textrange-field" type="text" id="mincentury" placeholder="Мин.">
                <input class="textrange-field" type="text" id="maxcentury" placeholder="Макс.">
            </div>
            <!--<div class="century">
                <span id="range1">
                    X
                </span>
                <span> &dash; </span>
                <span id="range2">
                    XXI
                </span>
            </div>
            <div class="container">
                <div class="slider-track"></div>
                <input type="range" min="0" max="100" value="30" id="slider-1" oninput="slideOne()">
                <input type="range" min="0" max="100" value="70" id="slider-2" oninput="slideTwo()">
            </div>-->
        </div>
        <h3>Цвет</h3>
        <div>
            <span><input type="checkbox" name="color" for="black" value="black"><label id="black">Черный</label></span>
            <span><input type="checkbox" name="color" for="white" value="white"><label id="white">Белый</label></span>
            <span><input type="checkbox" name="color" for="grey" value="grey"><label id="grey">Серый</label></span>
            <span><input type="checkbox" name="color" for="blue" value="blue"><label id="blue">Синий</label></span>
            <span><input type="checkbox" name="color" for="red" value="red"><label id="red">Красный</label></span>
            <span><input type="checkbox" name="color" for="yellow" value="yellow"><label id="yellow">Желтый</label></span>
            <span><input type="checkbox" name="color" for="green" value="green"><label id="green">Зеленый</label></span>
            <span><input type="checkbox" name="color" for="golden" value="golden"><label id="golden">Золотой</label></span>
            <span><input type="checkbox" name="color" for="silver" value="silver"><label id="silver">Серебрянный</label></span>
        </div>
        <button type="submit" name="search" value="{% if search %}{{ search }}{% endif %}">Применить</button>
    </form>
    <div class="catalog">
        <h2>Изобретения - {{ items|length }} шт.</h2>
        <ul class="sortby">
            <li style="font-weight: 700">Сортировка по:</li>
            <li><a href="#">Популярность</a></li>
            <li><a href="#">Цена</a></li>
            <li><a href="#">Рейтинг</a></li>
        </ul>
        <div class="wrapper">
            <div class="values">
                <span id="range1"></span>
                <span id="range2"></span>
            </div>
        </div>
        <div class="params">
            <button id="nav_filter" class="nav_adaptiv" onclick="adaptivFilter()">Открыть фильтры</button>
            <button><a>Очистить фильтры</a></button>
            <form action="handler.php">
        </div>
        <section>
            <div class="gallery">

                {% if not items %}
                    <h2>В каталоге по этому запросу ничего не найдено :(</h2>
                {% endif %}

                {% for item in items %}

                    <div class="card">
                <a href="product?id={{ item.id }}">
                    <img src="/static/img/items/{{ item.images.0 }}" alt="">
                </a>
                <div>
                    <a href="product?id={{ item.id }}">
                        <h4>{{ item.title }}</h4>
                    </a>
                    <span class="stars">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <p>4.8</p>
                    </span>
                    <span>
                        <div class="price">
                            <p>{{ item.price }} &#8381;</p>
                        </div>
                        <div class="icons">
                            <a href='#'> <img src="static/img/gui/telega_small.svg" alt=""> </a>
                            <a href='#'><img src="static/img/gui/favourite_small.svg" alt=""> </a>
                        </div>
                    </span>
                </div>
            </div>
<!--
                    <div class="card">
                        <a href="product?id={{ item.id }}">
                            <img src="/static/img/items/{{ item.images.0 }}" alt="">
                            <div class="underinfo">
                                <h4>{{ item.title }}</h4>
                                <span>
                                    <img src="static/img/gui/star.svg" alt="">
                                    <img src="static/img/gui/star.svg" alt="">
                                    <img src="static/img/gui/star.svg" alt="">
                                    <img src="static/img/gui/star.svg" alt="">
                                    <img src="static/img/gui/star.svg" alt="">
                                    <p>4.8</p>
                                </span>
                            </div>
                        </a>
                        <p>{{ item.description[:138] }}…</p>
                        <span>
                            <div class="price">
                                <p>{{ item.price }}</p>
                            </div>
                            <div class="icons">
                                <a href='#'> <img src="static/img/gui/telega_small.svg" alt=""> </a>
                                <a href='#'><img src="static/img/gui/favourite_small.svg" alt=""> </a>
                            </div>
                        </span>
                    </div>
-->
                {% endfor %}

            </div>
        </section>
    </div>
</div>
<footer>
    <div class="annotation">
        <img src="static/img/gui/white_logo.png">
        <p>Данный сайт разработан в исключительно учебных целях и не является действующим магазином.</p>
    </div>
    <div class="nav_footer">
        <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
            <p>О проекте</p>
        </a>
        <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
            <p>Контакты</p>
        </a>
        <a href="https://github.com/BeidinaDaria/Fiction-store.git">
            <p>GitHub</p>
        </a>
    </div>
</footer>
<script>
    function adaptivMenu() {
        let navig = document.querySelector("nav");
        if (navig.className == "show")
            navig.className = 'hide';
        else navig.className = 'show';
    };

    function adaptivFilter() {
        let navig = document.querySelector("form");
        if (navig.className == "showFilter")
            navig.className = 'hideFilter';
        else navig.className = 'showFilter';
    };
</script>
</body>
</html>
