<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Избранное</title>
</head>

<body>
    <header>
        <div class="navigator">
            <a href="/" style="display: contents;"><img src="static/img/gui/logo.svg"></a>
            <button id="nav_adaptiv" class="nav_adaptiv" onclick="adaptivMenu()"><img src="static/img/gui/Catalog.svg"></button>
            <nav class="hide">
                <span>
                    <img src="static/img/gui/home.svg">
                    <a href="/">Главная</a>
                </span>
                <span>
                    <img src="static/img/gui/Catalog.svg">
                    <a href="catalog">Каталог</a>
                </span>
                <span>
                    <img src="static/img/gui/Search.svg">
                    <a href="#search">Поиск</a>
                </span>
                <span>
                    <img src="static/img/gui/favourite.svg">
                    <a href="favourites">Избранное ({{ favs_len }})</a>
                </span>
                <span>
                    <img src="static/img/gui/backets.svg">
                    <a href="basket">Корзина ({{ basket_len }})</a>
                </span>
                <span>
                    <img src="static/img/gui/Profile.svg">
                    <a href="profile">Профиль</a>
                </span>
            </nav>
        </div>
    </header>
    <main>
        <h1>Избранное</h1>
    </main>
    <div class="types">
        <div class="catalog">
            <h2>{{ favourites|length }} товаров(ов) в избранном</h2>

            {% for item in favourites %}

            <div class="item">
                <span>
                    <img src="/static/img/items/{{ item.images.0 }}" height="auto" width="25%">
                    <div class="character">
                        <span>
                            <h3 style="margin:0;">{{ item.title }}</h3>
                            <div class="quantity_inner" width="60%" style="display:flex;flex-direction:row;height:20%;align-items:center;">
                                <button class="bt_minus">-</button>
                                <input type="text" class="quantity" value="1" data-max-count="20">
                                <button class="bt_plus">+</button>
                            </div>
                            <div class="price">
                                <p>{{ item.price }} ₽</p>
                            </div>
                        </span>
                        <div class="characteristic">
                            <h4>Размер - - - - - 40см</h4>
                            <h4>Век - - - - - - - -XX</h4>
                        </div>
                        <button style="background:none;border:none;"><img src="static/img/gui/delete.svg"></button>
                    </div>
                </span>
            </div>

            {% endfor %}

            <button><a href="#">Показать еще</a>
            </button>
        </div>

    </div>
    <footer>
        <div class="annotation">
            <img src="static/img/gui/white_logo.png">
            <p>Данный сайт разработан в исключительно учебных целях и не является действующим магазином.</p>
        </div>
        <div class="nav_footer">
            <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
                <p>О проекте</p>
            </a>
            <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
                <p>Контакты</p>
            </a>
            <a href="https://github.com/BeidinaDaria/Fiction-store.git">
                <p>GitHub</p>
            </a>
        </div>
    </footer>
     <script>
        function adaptivMenu(){
            let navig=document.querySelector("nav");
            if (navig.className=="show")
                navig.className='hide';
            else navig.className='show';
        };
    </script>
</body>

</html>
