{% extends 'base.html' %}

{% block title %} <title>Избранное</title> {% endblock %}

{% block content %}

<script>
    window.onload = setTimeout(function () {
        showNotification("Для удаления из избранного нажмите на 💜, добавление в корзину отсюда пока не работает");
        setTimeout(function () {
            hideNotification();
        }, 10000);
    }, 100);
</script>

<main>
    <h1>Избранное</h1>
</main>
<div class="types favtypes">
    <div class="catalog favcatalog">

        {% if not favourites %}

            <h2>В избранном пока ничего нет :( Добавьте сюда что-нибудь, нажав на 💜</h2>

        {% else %}

            <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            <script type=text/javascript>
                function removeFromFav(id) {
                    $.ajax({
                        url: '/favourites/remove',
                        type: 'POST',
                        data: id,
                        contentType: 'application/json;charset=UTF-8',
                        success: function () {
                            setTimeout(function () {
                                showNotification("Предмет убран из избранного 👌");
                                setTimeout(function () {
                                    hideNotification();
                                }, 4000);
                            }, 100);
                            document.getElementById('item' + id).style.display = 'none';
                            document.getElementById("count").innerHTML -= 1
                        },
                        error: function (err) {
                            setTimeout(function () {
                                showNotification("Не удалось убрать из избранного 🙈");
                                setTimeout(function () {
                                    hideNotification();
                                }, 4000);
                            }, 100);
                            console.log(err);
                        }
                    });
                };
            </script>

            <h2>
                <h id="count" style="display: inline;">{{ favs_len }}</h>
                шт. в избранном 💫
            </h2>
            <div class="favgallery">
                
            {% for item in favourites %}

                <div class="card" id="item{{ item.id }}">
                    <a href="product?id={{ item.id }}">
                        <img src="/static/img/items/{{ item.images.0 }}" alt="">
                    </a>
                    <div>
                        <a href="product?id={{ item.id }}">
                            <h4>{{ item.title }}</h4>
                        </a>
                        <span class="stars">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <img src="static/img/gui/star.svg" alt="">
                        <p>4.8</p>
                    </span>
                        <span>
                        <div class="price">
                            <p>{{ item.price }} &#8381;</p>
                        </div>
                        <div class="icons">
                            <!-- TODO: Добавить добавление и удаление в корзину отсюда -->
                            <a> <img src="static/img/gui/telega_small.svg" alt=""> </a>
                            <button value="{{ item.id }}" onclick="removeFromFav(this.value)"><img
                                    src="static/img/gui/favourite_small.svg" alt=""> </button>
                        </div>
                    </span>
                    </div>
                </div>

            {% endfor %}

        {% endif %}

        </div>
    </div>
<div class="notification">
    <!-- Содержимое окна будет устанавливаться динамически -->
</div>

{% endblock %}