<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/img/gui/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>{{ item.title }} - витрина FictionStore</title>
</head>
<body>
<header>
    <div class="navigator">
        <a href="/" style="display: contents;"><img src="static/img/gui/logo.svg"></a>
        <button id="nav_adaptiv" class="nav_adaptiv" onclick="adaptivMenu()"><img src="static/img/gui/Catalog.svg">
        </button>
        <nav class="hide">
                <span>
                    <img src="static/img/gui/home.svg">
                    <a href="/">Главная</a>
                </span>
            <span>
                    <img src="static/img/gui/Catalog.svg">
                    <a href="catalog">Каталог</a>
                </span>
            <span>
                    <img scr="static/img/gui/Search.svg">
                    <a href="/#search">Поиск</a>
                </span>
            <span>
                    <img src="static/img/gui/favourite.svg">
                    <a href="favourites">Избранное ({{ favs_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/backets.svg">
                    <a href="basket">Корзина ({{ basket_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/Profile.svg">
                    <a href="profile">Профиль</a>
                </span>
        </nav>
    </div>
</header>
<style>
    main.product-main {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url(/static/img/items/{{ item.images.0 }});
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    main.product-main h1 {
        background: #fff;
        border-radius: 20px;
        padding-top: 8px;
        padding-bottom: 8px;

    }
</style>
<main class="product-main">
    <h1>{{ item.title }}</h1>
</main>

<div class="item-container">
    <span style="width:100%;">
        <div class="product">
            <span style="width:70%">
                <img src="static/img/gui/star.svg" alt="">
                <img src="static/img/gui/star.svg" alt="">
                <img src="static/img/gui/star.svg" alt="">
                <img src="static/img/gui/star.svg" alt="">
                <img src="static/img/gui/star.svg" alt="">
                <p>4.8</p>
                <a href="#" style="margin-top:2%;">Отзывы: {{ item.comments|length }} шт.</a>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <script type=text/javascript>
                    const urlParams = new URLSearchParams(window.location.search);
                    $(function () {
                        const id = urlParams.get('id');
                        const fav = $('div#favBox');
                        const basket = $('div#basketBox');
                        const add_fav_url = '/favourites/add';
                        const remove_fav_url = '/favourites/remove';
                        const add_basket_url = '/basket/add';
                        const remove_basket_url = '/basket/remove';
                        $.fn.changeFavBasket = function (url, box, correctText, incorrectText, newLabel) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: id,
                                contentType: 'application/json;charset=UTF-8',
                                success: function () {
                                    alert(correctText); // TODO: Изменить
                                    box.children('label').text(newLabel);
                                },
                                error: function (err) {
                                    alert(incorrectText); // TODO: Изменить
                                    console.log(err);
                                }
                            });
                        };
                        fav.children('input').on('change', function () {
                            if ($(this).is(':checked'))
                                $.fn.changeFavBasket(add_fav_url, fav,
                                    "Предмет добавлен в избранное",
                                    "Не удалось добавить предмет в избранное",
                                    "В избранном"
                                );
                            else
                                $.fn.changeFavBasket(remove_fav_url, fav,
                                    "Предмет убран из избранного",
                                    "Не удалось убрать предмет из избранного",
                                    "В избранное"
                                );
                        })
                        basket.children('input').on('change', function () {
                            if ($(this).is(':checked'))
                                $.fn.changeFavBasket(add_basket_url, basket,
                                    "Предмет добавлен в корзину",
                                    "Не удалось добавить предмет в корзину",
                                    "В корзине"
                                );
                            else
                                $.fn.changeFavBasket(remove_basket_url, basket,
                                    "Предмет убран из корзины",
                                    "Не удалось убрать предмет из корзины",
                                    "В корзину"
                                );
                        })
                    });
                </script>

                <div id="favBox">
                    {% if in_fav %}
                        <input type="checkbox" id="fav" checked>
                        <img src="static/img/gui/favourite.svg"><label for="fav">В избранном</label>
                    {% else %}
                        <input type="checkbox" id="fav">
                        <img src="static/img/gui/favourite.svg"><label for="fav">В избранное</label>
                    {% endif %}
                </div>
            </span>
            <span style="width:35%;margin-left:15%;">
                <div class="additional">
                    {% for image in item.images[1:] %}
                        <img src="/static/img/items/{{ image }}" width="100" height="108">
                    {% endfor %}
                </div>
                <img src="/static/img/items/{{ item.images.0 }}" width="300" height="333">
            </span>
        </div>
        <aside>
            <div class="choose_color">
                <h3>Цвет:{% for color in item.colors %}{{ color }}{% endfor %}</h3>
                <span>
                    <a style="background:blue;color:blue">aaaa</a>
                    <a style="background:rgba(57, 158, 21, 1);color:rgba(57, 158, 21, 1)">aaaa</a>
                    <a style="background:rgba(194, 94, 62, 1);color:rgba(194, 94, 62, 1)">aaaa</a>
                    <a style="background:rgba(62, 194, 115, 1);color:rgba(62, 194, 115, 1)">aaaa</a>
                </span>
                <div class="quantity">
                    <h3>Количество</h3>
                    <div class="quantity_inner">
                        <button class="bt_minus">-</button>
                        <input type="text" class="quantity" value="1" data-max-count="20">
                        <button class="bt_plus">+</button>
                    </div>
                    <div class="characteristic">
                        <b>
                            <h3>Характеристика</h3>
                        </b>
                        <h4>Наука - - - - {% for sci in item.science %}{{ sci }},{% endfor %}</h4>
                        <h4>Размер - - - - - 40см,</h4>
                        <h4>Век - - - - - - - -XX,</h4>
                        <h4>Dolor - - - - - - Sit,</h4>
                        <h4>Amet - - - - - -lpsum</h4>
                    </div>
                </div>
            </div>
            <div class="price">
                <p>{{ item.price }} ₽</p>

                <div id="basketBox">
                    {% if in_basket %}
                        <input type="checkbox" id="basket" checked>
                        <img src="static/img/gui/telega_small.svg"><label for="basket">В корзине</label>
                    {% else %}
                        <input type="checkbox" id="basket">
                        <img src="static/img/gui/telega_small.svg"><label for="basket">В корзину?</label>
                    {% endif %}
                </div>
                <p><button><a href="#">Быстрый заказ</a></button></p>
            </div>
        </aside>
    </span>
    <div class="description">
        <h2><b>Описание</b></h2>
        <h4>{{ item.description }}</h4>
    </div>
    <span>
        <aside style="width:50%">
            <div class="reviews">
                <h2>Отзывы({{ item.comments|length }})</h2>
                {% for comment in item.comments %}
                    <span>
                        <button width="300"><a href="#"><img src="static/img/gui/bukva k v krujke"></a></button>
                        <h4>{{ comment.user.name }} {{ comment.user.surname }}</h4>
                        <h5>{{ comment.date }}</h5>
                        {% for _ in range(comment.score) %}
                            <img src="static/img/gui/star.svg" alt="">
                        {% endfor %}
                    </span>
                    {% if comment.pros %}
                        <h4><b>Преимущества</b></h4>
                        <h5>{{ comment.pros }}</h5>
                    {% endif %}

                    {% if comment.cons %}
                        <h4><b>Недостатки</b></h4>
                        <h5>{{ comment.cons }}</h5>
                    {% endif %}
                    {% if comment.text %}
                        <h4><b>Комментарий</b></h4>
                        <h5>{{ comment.text }} </h5>
                    {% endif %}

                {% endfor %}
            </div>
        </aside>
        <div class="catalog">
            <span>
                <img src="static/img/gui/like.jpg">
                <b>4.8</b>
                <h5>основано на {{ item.comments|length }} оценке(ах)</h5>
            </span>
            <div style="width:100%">
                <span>
                    <p>5 stars
                        <hr style="width:80%;">
                        </hr>
                    </p>
                </span>
                <span>
                    <p>4 stars
                        <hr style="width:65%;">
                        </hr>
                    </p>
                </span>
                <span>
                    <p>3 stars
                        <hr style="width:50%;">
                        </hr>
                    </p>
                </span>
                <span>
                    <p>2 stars
                        <hr style="width:35%;">
                        </hr>
                    </p>
                </span>
                <span>
                    <p>1 star
                        <hr style="width:20%;">
                        </hr>
                    </p>
                </span>
            </div>
            <button><a href="#"><img src="static/img/gui/star.svg">Оставить отзыв</a></button>
        </div>
    </span>
</div>

<footer>
    <div class="annotation">
        <img src="static/img/gui/white_logo.png">
        <p>Данный сайт разработан в исключительно учебных целях и не является действующим магазином.</p>
    </div>
    <div class="nav_footer">
        <a href="#">
            <p>О проекте</p>
        </a>
        <a href="#">
            <p>Контакты</p>
        </a>
        <a href="https://github.com/BeidinaDaria/Fiction-store.git">
            <p>GitHub</p>
        </a>
    </div>
</footer>
<script>
    function adaptivMenu() {
        let navig = document.querySelector("nav");
        if (navig.className == "show")
            navig.className = 'hide';
        else navig.className = 'show';
    };
</script>
</body>
</html>