<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="static/img/gui/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>{{ item.title }} - витрина FictionStore</title>
</head>
<body>
<header>
    <div class="navigator">
        <a href="/" style="display: contents;"><img src="static/img/gui/logo.svg"></a>
        <button id="nav_adaptiv" class="nav_adaptiv" onclick="adaptivMenu()"><img src="static/img/gui/Catalog.svg">
        </button>
        <nav class="hide">
                <span>
                    <img src="static/img/gui/home.svg">
                    <a href="/">Главная</a>
                </span>
            <span>
                    <img src="static/img/gui/Catalog.svg">
                    <a href="catalog">Каталог</a>
                </span>
            <span>
                    <img scr="static/img/gui/Search.svg">
                    <a href="/#search">Поиск</a>
                </span>
            <span>
                    <img src="static/img/gui/favourite.svg">
                    <a href="favourites">Избранное ({{ favs_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/backets.svg">
                    <a href="basket">Корзина ({{ basket_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/Profile.svg">
                    <a href="profile">Профиль</a>
                </span>
        </nav>
    </div>
</header>
<style>
    main.product-main {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
        url('/static/img/items/{{ item.images.0 }}');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    main.product-main h1 {
        background: #fff;
        border-radius: 20px;
        padding-top: 8px;
        padding-bottom: 8px;

    }
</style>
<main class="product-main">
    <h1>{{ item.title }}</h1>
</main>

<div class="item-container">
    <span style="width:100%;">
        <div class="product item-column1">
            <!-- stars, fav -->

            <span class="starsnfav">
                <span class="item-stars">
                    <img src="static/img/gui/star.svg" alt="">
                    <img src="static/img/gui/star.svg" alt="">
                    <img src="static/img/gui/star.svg" alt="">
                    <img src="static/img/gui/star.svg" alt="">
                    <img src="static/img/gui/star.svg" alt="">
                    <p>4.8</p>
                </span>
                <a href="#reviews">Отзывы: {{ item.comments|length }} шт.</a>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
                <script type=text/javascript>
                    const urlParams = new URLSearchParams(window.location.search);
                    $(function () {
                        const id = urlParams.get('id');
                        const fav = $('div#favBox');
                        const basket = $('div#basketBox');
                        const add_fav_url = '/favourites/add';
                        const remove_fav_url = '/favourites/remove';
                        const add_basket_url = '/basket/add';
                        const remove_basket_url = '/basket/remove';
                        $.fn.changeFavBasket = function (url, box, correctText, incorrectText, newLabel) {
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: id,
                                contentType: 'application/json;charset=UTF-8',
                                success: function () {
                                    alert(correctText); // TODO: Изменить
                                    box.children('label').text(newLabel);
                                },
                                error: function (err) {
                                    alert(incorrectText); // TODO: Изменить
                                    console.log(err);
                                }
                            });
                        };
                        fav.children('input').on('change', function () {
                            if ($(this).is(':checked'))
                                $.fn.changeFavBasket(add_fav_url, fav,
                                    "Предмет добавлен в избранное",
                                    "Не удалось добавить предмет в избранное",
                                    "В избранном"
                                );
                            else
                                $.fn.changeFavBasket(remove_fav_url, fav,
                                    "Предмет убран из избранного",
                                    "Не удалось убрать предмет из избранного",
                                    "В избранное"
                                );
                        })
                        basket.children('input').on('change', function () {
                            if ($(this).is(':checked'))
                                $.fn.changeFavBasket(add_basket_url, basket,
                                    "Предмет добавлен в корзину",
                                    "Не удалось добавить предмет в корзину",
                                    "В корзине"
                                );
                            else
                                $.fn.changeFavBasket(remove_basket_url, basket,
                                    "Предмет убран из корзины",
                                    "Не удалось убрать предмет из корзины",
                                    "В корзину"
                                );
                        })
                    });
                </script>
            </span>
            <!-- imgs -->
            <span style="width:35%;">
                <div class="additional">
                    {% for image in item.images[1:] %}
                        <img data-enlargable src="/static/img/items/{{ image }}" width="100" height="108">
                    {% endfor %}
                </div>
                <img data-enlargable src="/static/img/items/{{ item.images.0 }}" width="300" height="333">
            </span>
            <script>
                $('img[data-enlargable]').addClass('img-enlargable').click(function(){
                    var src = $(this).attr('src');
                    $('<div>').css({
                        background: 'RGBA(0,0,0,.5) url('+src+') no-repeat center',
                        backgroundSize: 'contain',
                        width:'100%', height:'100%',
                        position:'fixed',
                        zIndex:'10000',
                        top:'0', left:'0',
                        cursor: 'zoom-out'
                    }).click(function(){
                        $(this).remove();
                    }).appendTo('body');
                });
            </script>
        </div>
    <aside class="item-column3 product description">
        <h2><b>Описание</b></h2>
        <h4>{{ item.description }}</h4>
    </aside>
        <aside class="item-column2 product" style="margin-top: 1.1%;">
        <div class="characteristics">
            <div class="characteristic">
                <span style="padding-top: 3px">Цвет:</span>
                {% for color in item.colors %}
                    <span style="background: {{ color }}; padding: 3px; margin-left: 5px">{{ color }}</span>
                {% endfor %}
            </div>
            <div class="characteristic">
                <span style="padding-top: 3px">Сфера:</span>
                {% for color in item.colors %}
                    <span style="padding: 3px; margin-left: 5px">{% for sci in item.science %}
                        {{ sci }}{% endfor %}</span>
                {% endfor %}
            </div>
            <div class="price-label">{{ item.price }} ₽</div>
            <div class="favcart" id="basketBox">
                {% if in_basket %}
                    <input type="checkbox" id="basket" checked>
                    <img style="color: rgba(124, 103, 255, 1)" src="static/img/gui/cart.svg">
                    <label for="basket">В корзине</label>
                {% else %}
                    <input type="checkbox" id="basket">
                    <img style="color: rgba(124, 103, 255, 1)" src="static/img/gui/cart.svg">
                    <label for="basket">В корзину</label>
                {% endif %}
            </div>
            <div class="favcart" id="favBox">
                {% if in_fav %}
                    <input type="checkbox" id="fav" checked>
                    <img src="static/img/gui/favourite.svg"><label for="fav">В избранном</label>
                {% else %}
                    <input type="checkbox" id="fav">
                    <img src="static/img/gui/favourite.svg"><label for="fav">В избранное</label>
                {% endif %}
            </div>
        </div>
        </aside>

    </span>

    <span class="reviews-container">
        <aside class="reviews-texts">
            <div id="reviews" class="reviews">
                <h2>Отзывы ({{ item.comments|length }})</h2>
                {% set vars = {'score': 0} %}

                {% for comment in item.comments %}

                    {% if vars.update({'score': vars['score'] + (comment.score | int)}) %} {% endif %}
                    <span class="review-head">
                        <img class="reviewer-pic" src="static/img/gui/favicon.ico">
                    <div class="reviewer-name">
                        <h3>{{ comment.user.name }} {{ comment.user.surname }}</h3>
                        <p>{{ comment.date }}</p>
                        {% for _ in range(comment.score) %}
                            <img src="static/img/gui/star.svg" alt="">
                        {% endfor %}
                    </div>

                    </span>
                    {% if comment.pros %}
                        <h3>Преимущества</h3>
                        <p>{{ comment.pros }}</p>
                    {% endif %}

                    {% if comment.cons %}
                        <h3>Недостатки</h3>
                        <p>{{ comment.cons }}</p>
                    {% endif %}
                    {% if comment.text %}
                        <h3>Комментарий</h3>
                        <p>{{ comment.text }} </p>
                    {% endif %}

                {% endfor %}

            </div>
        </aside>
        <div class="catalog">
            {% if item.comments %}
                <h2>Средняя оценка: 👍 {{ vars['score'] / item.comments|length }}</h2>
            {% endif %}
            <a href="#"><img src="static/img/gui/star.svg">Оставить свой отзыв</a>
        </div>
    </span>
</div>

<footer>
    <div class="annotation">
        <img src="static/img/gui/white_logo.png">
        <p>Данный сайт разработан в исключительно учебных целях и не является действующим магазином.</p>
    </div>
    <div class="nav_footer">
        <a href="#">
            <p>О проекте</p>
        </a>
        <a href="#">
            <p>Контакты</p>
        </a>
        <a href="https://github.com/BeidinaDaria/Fiction-store.git">
            <p>GitHub</p>
        </a>
    </div>
</footer>
<script>
    function adaptivMenu() {
        let navig = document.querySelector("nav");
        if (navig.className == "show")
            navig.className = 'hide';
        else navig.className = 'show';
    }
</script>
</body>
</html>