<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="static/img/gui/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Профиль</title>
    <script>
        function showNotification(message) {
            var notification = document.querySelector('.notification');
            notification.innerHTML = message;
            notification.classList.add('show');
        }

        function hideNotification() {
            var notification = document.querySelector('.notification');
            notification.classList.remove('show');
        }

        window.onload = setTimeout(function () {
            showNotification("Функционал изменения данных пользователя и история покупок в разработке");
            setTimeout(function () {
                hideNotification();
            }, 10000);
        }, 100);
    </script>
</head>
<body>
<header>
    <div class="navigator">
        <a href="/" style="display: contents;"><img src="static/img/gui/logo.svg"></a>
        <button id="nav_adaptiv" class="nav_adaptiv" onclick="adaptivMenu()"><img src="static/img/gui/Catalog.svg">
        </button>
        <nav class="hide">
                <span>
                    <img src="static/img/gui/home.svg">
                    <a href="/">Главная</a>
                </span>
            <span>
                    <img src="static/img/gui/Catalog.svg">
                    <a href="catalog">Каталог</a>
                </span>
            <span>
                    <img src="static/img/gui/Search.svg">
                    <a href="/#search">Поиск</a>
                </span>
            <span>
                    <img src="static/img/gui/favourite.svg">
                    <a href="favourites">Избранное ({{ favs_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/backets.svg">
                    <a href="basket">Корзина ({{ basket_len }})</a>
                </span>
            <span>
                    <img src="static/img/gui/Profile.svg">
                    <a href="profile">Профиль</a>
                </span>
        </nav>
    </div>
</header>
<main>
    <h1>Ку, {{ user.name }}!</h1>
</main>
<div class="types">
    <div class="catalog">
        <form method="post">
            <span>
                <h2>Действия с аккаунтом</h2>
            </span>
            <button formaction="/logout" class="itemcomm_submit">Выйти</button>
            <button formaction="/" class="itemcomm_submit">Удалить аккаунт</button>
        </form>
            
        <form class="itemcomm_form" style="margin-top: 5%">
            <span>
                <h2>Настройки профиля</h2> <!-- TODO -->
            </span>
            <span>
                <input style="padding: 15px; width: 100%" class="textrange-field" type="text" name="user-name"
                   placeholder="Имя">
            </span>
            <span>
                <input style="padding: 15px; width: 100%" class="textrange-field" type="text" name="user-surname"
                    placeholder="Фамилия">
            </span>
            <span>
                <input style="padding: 15px; width: 100%" class="textrange-field" type="email" name="email"
                    placeholder="E-mail (для получения заказа)">
            </span>
            <span>
                <input type="submit" style="padding: 15px; width: 100%" class="itemcomm_submit" value="Изменить">
            </span>
        </form>

        <form class="itemcomm_form" style="margin-top: 5%">
            <h2>История заказов</h2> <!-- TODO -->
            <ol class="orders">
                <li>
                    <h3>Заказ от 23.03.2009</h3>
                    <p>Сумма заказа: 2638 руб.</p>
                    <p>Заказанные товары: Тардис, Летающая машина, Нейрализатор, Машина времени (всего 4 шт.)</p>
                    <p>Отправлено на почту: <a href="mailto:email666@email.com">email666@email.com</a></p>
                    <a class="repeat-order" href="#">Повторить заказ</a>
                </li>
                <li>
                    <h3>Заказ от 28.03.2009</h3>
                    <p>Сумма заказа: 120 руб.</p>
                    <p>Заказанные товары: Тардис (всего 1 шт.)</p>
                    <p>Отправлено на почту: <a href="mailto:email666@email.com">email666@email.com</a></p>
                    <a class="repeat-order" href="#">Повторить заказ</a>
                </li>
            </ol>
        </form>

        <form class="itemcomm_form" style="margin-top: 5%">
            <span>
                <h2>Ваши комментарии</h2>
            </span>
            <ul class="profilepage_comments">

                {% for comment in user.comments %}

                <li>
                    <h4 class="profilepage_comment-item"><a href="/product?id={{ comment.item.id }}">{{ comment.item.title }}</a></h4>
                    <p class="profilepage_comment-text">{{ comment.text }}</p>
                    <div class="profilepage_comment-metadata">
                        <span class="profilepage_comment-date">{{ comment.date }}</span>
                    </div>
                </li>

                {% endfor %}

            </ul>
        </form>
    </div>
</div>
<div class="notification">
    <!-- Содержимое окна будет устанавливаться динамически -->
</div>
<footer>
    <div class="annotation">
        <img src="static/img/gui/white_logo.png">
        <p>Данный сайт разработан в исключительно учебных целях и не является действующим магазином.</p>
    </div>
    <div class="nav_footer">
        <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
            <p>О проекте</p>
        </a>
        <a href="https://github.com/BeidinaDaria/Fiction-store/blob/main/README.md">
            <p>Контакты</p>
        </a>
        <a href="https://github.com/BeidinaDaria/Fiction-store.git">
            <p>GitHub</p>
        </a>
    </div>
</footer>
<script>
    function adaptivMenu() {
        let navig = document.querySelector("nav");
        if (navig.className == "show")
            navig.className = 'hide';
        else navig.className = 'show';
    };

    function adaptivFilter() {
        let navig = document.querySelector("form");
        if (navig.className == "showFilter")
            navig.className = 'hideFilter';
        else navig.className = 'showFilter';
    };
</script>
</body>
</html>
